# Thanks to: https://gist.github.com/jdbartlett/444295

# Ignore everything in the root except the "wp-content" directory and setup files
/*
!.gitignore
!wp-cli.yml
!wp-content/
!wp-config-custom.php
!.htaccess-custom
!README.md
!1.png

# Ignore everything in the "wp-content" directory, except the "plugins" and "themes" directories.
wp-content/*
!wp-content/mu-plugins/
!wp-content/plugins/
!wp-content/themes/

# Ignore default Wordpress plugins
wp-content/plugins/hello.php
wp-content/plugins/akismet/

# Ignore everything in the "themes" directory, except the themes you specify
wp-content/themes/*
!wp-content/themes/wordpack/

# Ignore specific files/directories in the "loveandmoney" theme directory
wp-content/themes/wordpack/node_modules/
wp-content/themes/wordpack/.sass_cache/
wp-content/themes/wordpack/dist/

.DS_Store

/vendor/
