
# Root ignores
/*
!.gitignore
!wp-cli.yml
!wp-content/
!wp-config-custom.php
!README.md
!1.png

# wp-content ignores
wp-content/*
!wp-content/mu-plugins/
!wp-content/plugins/
!wp-content/themes/

wp-content/plugins/hello.php
wp-content/plugins/akismet/

# Theme includes
wp-content/themes/*
!wp-content/themes/wordpack/

# Compilation ignores
wp-content/themes/wordpack/node_modules/
wp-content/themes/wordpack/.sass_cache/
wp-content/themes/wordpack/dist/

.DS_Store

/vendor/
