////////////

html {
  .bg-white {
    background-color: white;
  }
  .bg-black {
    background-color: black;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

strong,
.strong {
  font-weight: bold;
}

em,
.em {
  font-style: italic;
}

button {
  outline: none;
}

textarea:focus,
input:focus{
  outline: none;
}

a,
a:hover,
a:visited {
  color: inherit;
}

////////////

// layout

.container {
  @include sm-xl {
    max-width: 1440px;
  }

  position: relative;
}
