////////////

// template

.test {
  border: 1px solid red;
}

.w-100 {
  width: 100%;
}

.w-75 {
  width: 75%;
}

.w-66 {
  width: 66.666667%;
}

.w-50 {
  width: 50%;
}

.w-33 {
  width: 33.333333%;
}

.w-25 {
  width: 25%;
}

.vw-100 {
  width: 100vw;
}

.h-100 {
  height: 100%;
}

.vh-100 {
  height: 100vh;
}

.z-0 {
  z-index: 0;
}

.z-1 {
  z-index: 1;
}

.z-2 {
  z-index: 2;
}

.z-3 {
  z-index: 3;
}

.z-4 {
  z-index: 4;
}

.z-5 {
  z-index: 5;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.sticky {
  position: sticky;
}

.top-0 {
  top: 0;
}

.right-0 {
  right: 0;
}

.bottom-0 {
  bottom: 0;
}

.left-0 {
  left: 0;
}

.block-display {
  display: block;
}

.inline-display {
  display: inline-block;
}

.table-display {
  display: table;
}

.clear-col {
  clear: both;
  float: none;
}

.center-relative {
  position: relative;
  margin: 0 auto;
}

.full-absolute {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  &--width {
    width: 100%;
    height: auto;
    bottom: auto;
  }

  &--height {
    width: auto;
    height: 100%;
  }
}

.full-fixed {
  @extend .full-absolute;

  position: fixed;
}

.flex {
  display: flex;

  &--xs {
    @include xs {
      display: flex;
    }
  }

  &-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &--aligncenter {
    align-items: center;

    &--xs {
      @include xs {
        align-items: center;
      }
    }
  }

  &--alignend {
    align-items: flex-end;
  }

  &--alignselfstretch {
    align-self: stretch;
  }

  &--alignselfend {
    align-self: flex-end;
  }

  &--alignselfcenter {
    align-self: center;
  }

  &--alignstart {
    align-items: flex-start;

    &--xs {
      @include xs {
        align-items: flex-start;
      }
    }
  }

  &--alignstretch {
    align-items: stretch;
  }

  &--column {
    flex-direction: column;
  }

  &--justifybetween {
    justify-content: space-between;

    &--xs {
      @include xs {
        justify-content: space-between;
      }
    }
  }

  &--justifycenter {
    justify-content: center;
  }

  &--justifyend {
    justify-content: flex-end;

    &--xs {
      @include xs {
        justify-content: flex-end;
      }
    }
  }

  &--justifyleft {
    justify-content: left;
  }

  &--justifyright {
    justify-content: right;
  }

  &--nowrap {
    flex-wrap: nowrap;
  }

  &--wrap {
    flex-wrap: wrap;
  }
}

.clearflex {
  &--xs {
    @include xs {
      flex: 0 1 auto;
      display: block;
      align-items: stretch;
      justify-content: flex-start;
    }
  }
}

.invert-x {
  transform: scaleX(-1);
}

.background-cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.transform-center {
  left: 50%;
  top: 50%;
  transform: translate3d(-50%,-50%,0);
}


////////////

// devices

.hidden {
  &--xs {
    @include xs {
      display: none;
    }
  }
}

.visible {
  &--xs {
    @include sm-xl {
      display: none;
    }
  }
}

////////////

// transitions

.fadeable {
  transition: $default-transition opacity;

  pointer-events: none;
  opacity: 0;

  &.active {
    opacity: 1;
    pointer-events: auto;
  }

  &--fast {
    transition: $fast-transition opacity;
  }

  &--slow {
    transition: $slow-transition opacity;
  }
}

.fadeable-translator {
  transition: $default-transition opacity, $default-transition transform;

  transform: translate3d(0,6px,0);
  opacity: 0;
  pointer-events: none;

  &.active {
    transform: translate3d(0,0,0);
    opacity: 1;
    pointer-events: auto;
  }

  &--fast {
    transition: $fast-transition opacity, $fast-transition transform;
  }

  &--slow {
    transition: $slow-transition opacity, $slow-transition transform;
  }

  &--up {
    transform: translate3d(0,6px,0);
  }

  &--down {
    transform: translate3d(0,-6px,0);
  }

  &--left {
    transform: translate3d(6px,0,0);
  }

  &--right {
    transform: translate3d(-6px,0,0);
  }
}

.fadeable-scaler {
  transition: $default-transition opacity, $default-transition transform;

  transform: scale(0);
  opacity: 0;
  pointer-events: none;

  &.active {
    transform: scale(1);
    opacity: 1;
    pointer-events: auto;
  }

  &--fast {
    transition: $fast-transition opacity, $fast-transition transform;
  }

  &--slow {
    transition: $slow-transition opacity, $slow-transition transform;
  }
}


////////////

// helpers

.no-display {
  display: none;
}

.no-margin {
  margin: 0;
}

.no-float {
  float: none;
}

.no-border {
  border: 0;
}

.no-opacity {
  opacity: 0;
}

.no-overflow {
  overflow: hidden;
}

.visible-overflow {
  overflow: visible;
}

.no-transition {
  transition: none;
}

.no-pointer {
  pointer-events: none;
}

.auto-pointer {
  pointer-events: auto;
}

.cursor-pointer {
  @include md-xl {
    cursor: pointer;
  }
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.block-display {
  display: block;
}

.front {
  z-index: 999;
}

.gpu {
  backface-visibility: hidden;
  perspective: 1000;
  transform-style: preserve-3d;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.uppercase {
  text-transform: uppercase;
}

.bold {
  font-weight: bold;
}

.boldish {
  font-weight: 500;
}

.underline {
  text-decoration: underline;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}
