////////////

// fonts

$fonts : (
  // 'font-name' : (
  //   'bold',
  //   'light',
  //   'medium',
  //   'regular'
  // )
);

@each $name, $weights in $fonts {
  @each $weight in $weights {
    @font-face {
    	font-family: str-capicamelize(str-replace($name, '-', ' '));
    	src: url('../../assets/fonts/#{$name}/#{$name}-#{$weight}.eot');
    	src: local('☺'), url('../../assets/fonts/#{$name}/#{$name}-#{$weight}.woff') format('woff'), url('../../assets/fonts/#{$name}/#{$name}-#{$weight}.ttf') format('truetype'), url('../../assets/fonts/#{$name}/#{$name}-#{$weight}.svg') format('svg');
    	font-weight: normal;
    	font-style: normal;
    }
  }

  // TODO : weight classes

  .#{$name} {
    font-family: str-capicamelize(str-replace($name, '-', ' '));
  }
}

//

@mixin f1 {
}

.f1 {
  @include f1;
}

@mixin f2 {
}

.f2 {
  @include f2;
}

@mixin f3 {
}

.f3 {
  @include f3;
}

@mixin f4 {
}

.f4 {
  @include f4;
}

//

@mixin b1 {
}

.b1 {
  @include b1;
}

@mixin b2 {
}

.b2 {
  @include b2;
}

@mixin b3 {
}

.b3 {
  @include b3;
}
