////////////

// breakpoints

$breakpoints: (
  xl: 1920px,
  lg: 1440px,
  md: 1024px,
  sm: 768px
);

@mixin xl {
  @media screen and (min-width: map-get($breakpoints, 'xl')) {
    @content;
  }
}

@mixin lg {
  @media screen and (max-width: map-get($breakpoints, 'xl') - 1) {
    @content;
  }
}

@mixin md {
  @media screen and (max-width: map-get($breakpoints, 'lg') - 1) {
    @content;
  }
}

@mixin sm {
  @media screen and (max-width: map-get($breakpoints, 'md') - 1) {
    @content;
  }
}

@mixin xs {
  @media screen and (max-width: map-get($breakpoints, 'sm') - 1) {
    @content;
  }
}

////////////

// grid

$grid_columns: 12;
$grid_gutter: 8px;
$grid_padding: (
  xl: 48px,
  lg: 48px,
  md: 48px,
  sm: 52px,
  xs: 26px
);

.grid {
  @include xl {
    width: calc(100% - (#{map-get($grid_padding, 'xl')} * 2));
  }

  @include lg {
    width: calc(100% - (#{map-get($grid_padding, 'lg')} * 2));
  }

  @include md {
    width: calc(100% - (#{map-get($grid_padding, 'md')} * 2));
  }

  @include sm {
    width: calc(100% - (#{map-get($grid_padding, 'sm')} * 2));
  }

  @include xs {
    width: calc(100% - (#{map-get($grid_padding, 'xs')} * 2));
  }

  position: relative;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat($grid_columns, minmax(0, 1fr));
  grid-gap: $grid_gutter / 2 $grid_gutter;
}

[class*=grid__] {
  grid-column-end: span $grid_columns;
}

@mixin generate-classes($columns: $grid_columns, $breakpoint_key: '') {
  $breakpoint_suffix: '';

  @if $breakpoint_key != '' {
    $breakpoint_suffix: $breakpoint_key + '-';
  }

  @for $i from 1 through $columns {
    .grid__columns--#{$breakpoint_suffix}#{$i} {
      grid-column-end: span $i;
    }

    .grid__row--#{$breakpoint_suffix}#{$i} {
      grid-row: $i;
    }
    
    .grid__start--#{$breakpoint_suffix}#{$i} {
      grid-column-start: $i;
    }
  }
}

@include generate-classes($grid_columns);

@include xl {
  @include generate-classes($grid_columns, 'xl');
}

@include lg {
  @include generate-classes($grid_columns, 'lg');
}

@include md {
  @include generate-classes($grid_columns, 'md');
}

@include sm {
  @include generate-classes($grid_columns, 'sm');
}

@include xs {
  @include generate-classes($grid_columns, 'xs');
}