////////////

// screen

$screen-sm: 768px;
$screen-md: 1024px;
$screen-lg: 1440px;
$screen-xl: 1920px;

$columns: 12;

$header-padding : 121px;
$header-padding-mobile : 64px;

$columns: (
  12: 'col'
);

// < 768px
@mixin xs {
  @media screen and (max-width: $screen-sm - 1) {
    @content;
  }
}

// < 1024px;
@mixin xs-sm {
  @media screen and (max-width: $screen-md - 1) {
    @content;
  }
}

// < 1440px;
@mixin xs-md {
  @media screen and (max-width: $screen-lg - 1) {
    @content;
  }
}

// < 1920px;
@mixin xs-md {
  @media screen and (max-width: $screen-xl - 1) {
    @content;
  }
}

// 768px - 1023px
@mixin sm {
  @media screen and (min-width: $screen-sm) and (max-width: $screen-md - 1) {
    @content;
  }
}

// 768px - 1439px;
@mixin sm-md {
  @media screen and (min-width: $screen-sm) and (max-width: $screen-lg - 1) {
    @content;
  }
}

// 768px - 1919px;
@mixin sm-lg {
  @media screen and (min-width: $screen-sm) and (max-width: $screen-xl - 1) {
    @content;
  }
}

// >= 768px
@mixin sm-xl {
  @media screen and (min-width: $screen-sm) {
    @content;
  }
}

// 1024px - 1439px
@mixin md {
  @media screen and (min-width: $screen-md) and (max-width: $screen-lg - 1) {
    @content;
  }
}

// 1024px - 1919px
@mixin md-lg {
  @media screen and (min-width: $screen-md) and (max-width: $screen-xl - 1) {
    @content;
  }
}

// >= 1024px
@mixin md-xl {
  @media screen and (min-width: $screen-md) {
    @content;
  }
}

// 1440px - 1919px
@mixin lg {
  @media screen and (min-width: $screen-lg) and (max-width: $screen-xl - 1) {
    @content;
  }
}

// >= 1440px
@mixin lg-xl {
  @media screen and (min-width: $screen-lg) {
    @content;
  }
}

// >= 1920px
@mixin xl {
  @media screen and (min-width: $screen-xl) {
    @content;
  }
}

@mixin high-dpi {
  @media
  (-webkit-min-device-pixel-ratio: 1.5),
  (min-resolution: 144dpi) {
    @content;
  }
}

////////////

// grid

@function grid-blocks($count, $columns) {
  @return ((1 / $columns) * $count) * 100vw;
}

@each $length, $prefix in $columns {
  @for $i from 1 through $length {
    $width: grid-blocks($i, $length);

    .#{$prefix}-#{$i} { width: $width; }

    @include xs {
      .#{$prefix}-xs-#{$i} { width: $width; }
    }

    @include sm {
      .#{$prefix}-sm-#{$i} { width: $width; }
    }

    @include sm-xl {
      .#{$prefix}-smxl-#{$i} { width: $width; }
    }

    @include md {
      .#{$prefix}-md-#{$i} { width: $width; }
    }

    @include md-xl {
      .#{$prefix}-mdxl-#{$i} { width: $width; }
    }
  }
}
