////////////

// color hexes

$colors: (
  black : #000000,
  white : #ffffff
);

@function color($key) {
  @if map-has-key($colors, $key) {
    @return map-get($colors, $key);
  }

  @warn "Unknown `#{$key}` in $colors.";
  @return null;
}


// font colors

.black { color: color(black) !important; }
.white { color: color(white) !important; }

// ...


// background colors

.bg-black { background-color: color(black) !important; }
.bg-white { background-color: color(white) !important; }

// ...


////////////

// grid

$screen-sm: 768px;
$screen-md: 1024px;
$screen-lg: 1440px;
$screen-xl: 1920px;
$gutter: 0;
$margin: 0.25rem;


////////////

// transitions

$default-transition-speed: 300ms;
$ease-out-cubic: cubic-bezier(0.215, 0.610, 0.355, 1.000);
$default-transition: $default-transition-speed $ease-out-cubic;
